#hello {
    background-color:   grey;
    color:              yellow;
    font-weight:        bold;
    font-style:         italic;
    padding:            40px;
}

#paragraph {
    background-color:   yellow;
    color:              blue;
    font-style:         italic;
    padding:            20px;
}

body {
    background-image:   url("./stuff/uranus.jpeg")
}
#css { 
    background-color:   green; 
    color:              white; 
    font-family:        Arial;
    padding:            20px; 
}
